
<meta charset="utf-8" />
<ul class="nav nav-list">

	<li  class="active">
		<a href="#" class="dropdown-toggle">
			<i class="icon-cloud"></i>
			<span class="menu-text">监控管理</span>

			<b class="arrow icon-angle-down"></b>
		</a>

		<ul class="submenu">
			<li >
				<a href="/project/">
					<i class="icon-double-angle-right"></i>
					监控项目
				</a>
			</li>

			<li>
				<a href="/project/certs">
					<i class="icon-double-angle-right"></i>
					证书列表
				</a>
			</li>
		</ul>
	</li>
<li >
		<a href="#" class="dropdown-toggle">
			<i class="icon-cog"></i>
			<span class="menu-text">设置</span>

			<b class="arrow icon-angle-down"></b>
		</a>

		<ul class="submenu">
			<li >
				<a href="/setting/notifyrules">
					<i class="icon-double-angle-right"></i>
					通知规则
				</a>
			</li>
		</ul>
	</li>
</ul><!-- /.nav-list -->

					

